.about-team h2 {
    color: var(--clr2);
}

.about-team ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.about-team li {
    padding: .3em .8em;
    border-radius: 2px;
    background-color: var(--clr2bg-light);
    color: var(--gray3);
}

@media (prefers-color-scheme: dark) {
    .about-team h2 {
        color: var(--clr2bg);
    }
}
