dialog {
    width: 80vw;

    border: 0;
    border-radius: 10px;
    padding: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.book-area {
    display: grid;
    grid-template-rows: max-content auto;

    height: 100%;
}

.book-details {
    display: flex;
    gap: 1.5em;

    padding: 1.5em;
}

.book-details-image img {
    border-radius: 10px;
}

.book-details-data {
    display: flex;
    flex-direction: column;
    gap: 1em;

    min-width: 0;
}

.main-info .title {
    color: var(--clr1);
}

.main-info .subtitle {
    color: var(--gray2);
}

.main-info .author {
    color: var(--gray2);
}

.book-details-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: .8em;
}

.book-details-info > span {
    border-radius: 10px;
    padding: 0.3em 0.7em;
    background-color: var(--gray1);
}

.book-details-info p {
    display: flex;
    align-items: center;
    gap: 0.4em;

    margin: 0;
}

.cheap {
    color: seagreen;
    font-weight: bold;
}

.expensive {
    color: crimson;
    font-weight: bold;
}

.on-sale {
    color: var(--clr2);
    font-weight: bold;
}

.description h4 {
    color: var(--clr1);
}

.description p {
    color: var(--gray3);
}

.book-review-area {
    display: grid;
    align-items: center;
}

.book-options {
    display: flex;
    justify-content: center;
    gap: 1em;

    margin-top: auto;
}

.book-options :last-child {
    margin-left: auto;
}

.review-section {
    align-self: center;
    justify-self: center;

    width: min(100%, 40em);
    
    border-radius: 10px;
    padding: 1.5em;
    background-color: var(--gray1);
}

.review-section h4 {
    color: var(--clr1);
}

.review-list {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 0.5em;

    margin: 0;
    padding: 0;
    
    list-style: none;
}

.review-row-wrap {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

.review-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    gap: 0.6em 1em;

    padding: 0.5em 0.8em;
    border-radius: 6px;
}

.review-row-header {
    color: var(--gray2);
    text-transform: capitalize;
    font-weight: bold;
}

.review-preview,
.add-review {
    background-color: rgb(210, 210, 210);
}

.start-rating {
    display: flex;
}

.start-rating button {
    background-color: transparent;
    padding: 0;
}

.start-rating button:hover {
    background-color: transparent;
}

.start-rating .star {
    position: relative;
    display: inline-block;
}

.start-rating .star-on {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: yellow;
}

.start-rating .on .star-on {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    .review-section {
        background-color: var(--gray3);
    }

    .review-preview,
    .add-review {
        background-color: rgb(90, 90, 90);
    }
}

@media (max-width: 600px) {
    .book-details {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .book-details-info > span {
        background-color: var(--gray3);
    }

    .description p {
        color: var(--gray1);
    }
}
