dialog {
    width: 80vw;

    border: 0;
    border-radius: 10px;
    padding: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.book-details {
    display: flex;
    gap: 1.5em;

    padding: 1.5em;
}

.book-details-image img {
    border-radius: 10px;
}

.book-details-data {
    display: flex;
    flex-direction: column;
    gap: 1em;

    min-width: 0;
}

.main-info .title {
    color: var(--clr1);
}

.main-info .subtitle {
    color: var(--gray2);
}

.main-info .author {
    color: var(--gray2);
}

.book-details-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: .8em;
}

.book-details-info > span {
    border-radius: 10px;
    padding: 0.3em 0.7em;
    background-color: var(--gray1);
}

.book-details-info p {
    display: flex;
    align-items: center;
    gap: 0.4em;

    margin: 0;
}

.cheap {
    color: seagreen;
    font-weight: bold;
}

.expensive {
    color: crimson;
    font-weight: bold;
}

.on-sale {
    color: var(--clr2);
    font-weight: bold;
}

.description {
    margin-top: auto;
}

.description h4 {
    color: var(--clr1);
}

.description p {
    color: var(--gray3);
}

@media (max-width: 600px) {
    .book-details {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .book-details-info > span {
        background-color: var(--gray3);
    }

    .description p {
        color: var(--gray1);
    }
}
