.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.book-item {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 1em;
    background-color: var(--clr1bg-light);
}

.book-actions {
    display: flex;
    gap: 0.5em;
}

.book-actions button {
    flex: 1;

    border-radius: 5px;
}

.btn-details {
    border: 1px solid var(--clr1);
    background-color: var(--clr1bg);
}

.btn-details:hover {
    background-color: var(--clr1);

    color: white;
}

.btn-remove {
    border: 1px solid var(--clr1);
    background-color: transparent;
}

.btn-remove:hover {
    background-color: var(--clr2);

    color: white;
}

@media (prefers-color-scheme: dark) {
    .book-item {
        background-color: var(--clr1);
    }

    .btn-details {
        background-color: var(--clr1bg-light);

        color: var(--gray3);
    }

    .btn-details:hover {
        background-color: var(--clr1bg);

        color: var(--gray3);
    }

    .btn-remove {
        border-color: var(--clr1bg-light);

        color: var(--clr1bg-light);
    }
}