button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: var(--clr2);
    color: white;
    transition: 0.3s;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}

.action-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1em;
}